@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my playground</h1>
    <p>This site was created to do experiments with web technologies, this site is using Net Core, Bootstrap and
        is deployed on Heroku, i will use this space to store my learnings in web technologies and more, take a look, you can
        just ignore it or not.
    </p>
</div>
