@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my playground</h1>
    <p>This website is just an experiment, i will try different things inside this page, this page has been created with
        Net Core 6.0 and published with Heroku, the frontend is created with Bootstrap at the moment.</p>
</div>
